node_modules
yotta_modules
yotta_targets
built
typings
tmp
temp
projects/**
clients/win10/app/bin
clients/win10/app/bld
clients/win10/*.opendb
clients/**/bin/**
clients/**/obj/**

*.user
*.sw?
*.ts.new
*.tgz
*.db
*.suo
*.log