body {
    margin: 10px;
    background-color: #4C4B4D;
    color: #FFFFFF;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.paramName {
    font-size: 10px;
    font-weight: bold;
}

.paramValue {
    font-size: 10px;
    padding-left: 10px;
}

.param {
    margin-bottom: 8px;
}

#retryButton {
    box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    outline: none;
    border: none;
    vertical-align: baseline;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    background-color: #FB48C7;
    margin: 15px 10px 100px 10px;
    width: 80px;
    height: 35px;
    font-size: 15px;
    color: #FFFFFF;
}
