body {
    margin: 10px;
}

.paramName {
    font-size: 100%;
    color: black;
    font-weight: bold;
}

.paramValue {
    color: black;
    padding-left: 10px;
}

.param {
    margin-bottom: 15px;
}

button {
    margin: 10px 10px 30px 10px;
    width: 80px;
    height: 35px;
    font-size: 15px;
}
