@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';
@import 'site/globals/site.variables';

@import 'blockly-core';
@import 'fieldeditors';

/* Reference import */
@import (reference) "semantic.less";

/* Specifying rounded toolbox borders. */
div.blocklyTreeRow {
    border-radius: 4px;
    padding-left: 4px !important;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
}

/* Highlight category item */
div.blocklyTreeRow.blocklyTreeSelected {
    -webkit-box-shadow: inset 0px 0px 0px 2px #fc3;
    -moz-box-shadow: inset 0px 0px 0px 2px #fc3;
    box-shadow: inset 0px 0px 0px 2px #fc3;
}
div.blocklyTreeRow:not(.blocklyTreeSelected):focus {
    -webkit-box-shadow: inset 0px 0px 0px 2px #292F36;
    -moz-box-shadow: inset 0px 0px 0px 2px #292F36;
    box-shadow: inset 0px 0px 0px 2px #292F36;
}

/* Blockly Text */
span.blocklyTreeLabel {
    font-family: "Gotham SSm A","Gotham SSm B","Montserrat","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif  !important;
    text-transform: uppercase !important;
    font-size:1rem !important;
}

/* Toolbox */
.blocklyToolboxDiv, .monacoToolboxDiv, .blocklyAddPackageDiv {
    padding: 0.5rem;
    border-right: solid 1px #282828;
}
.blocklyAddPackageArea .blocklyAddPackageDiv {
    border-top: 1px solid #282828;
}

/* Search box */
#blocklySearchArea {
    margin: 0.5rem;
    margin-top: 0.1rem;
}
.blocklySearchInputField {
    border: 1px solid @darkGrey !important;
    border-radius: 2.5rem !important;
}
.blocklySearchInputField:focus {
    border: 1px solid @blue !important;
}

/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {
    #filelist {
        background: transparent;
    }
    div.blocklyTreeRow {
        padding-left: 0px !important;
    }
    #blocklyTrashIcon {
        margin: 0.2rem;
    }
    .blocklyToolboxDiv, .monacoToolboxDiv, .blocklyAddPackageDiv {
        padding: 0.2rem;
    }
}

/* SVG filters fail intermittently in IE / Edge. Removing SVG filters until we figure out the issue */
svg.blocklyBlockDragSurface > g {
    filter: none;
}